* {
  box-sizing: border-box;
  margin:0;
}

:focus {
 outline-color: rgb(253, 103, 49);
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(217deg, red, rgba(255,0,0,0) 70%),
            linear-gradient(127deg, yellow, rgba(255,255,0,0) 80%),
            linear-gradient(355deg, green, rgba(0,128,0,0) 90%);
  /*Tri-Color Gradient from:
  https://developer.mozilla.org/en-US/docs/Web/CSS/gradient/linear-gradient
  */
}

input {
  padding: 10px;
  border: solid 2px rgba(255, 255, 255, 0.8);
  border-radius: 3px;
}

.search-container {
 position: relative;
}
.search-container input,
.search-container .suggestions {
  background-color: rgba(255, 255, 255, 0.5);
}

.search-container .suggestions {
  position: absolute;
  width : 100%;
  max-height: 35vh;
  overflow-y: scroll;
}

ul {
  padding: 0;
}

ul li {
  list-style-type: none;
  padding: 5px;

}
ul li:hover {
  background-color: rgb(253, 103, 49);
  color: white;
}

